@charset "UTF-8";
body{
	text-align: justify;
	background-color: lightgray;
	font-family: sans-serif;
	
}
header h1{
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:20px;
	padding: 10px;
	text-align:right;
	background-color:black;
	color:white;
}
section{
	margin-left:20%;
	margin-right:20%;
}
hr.negro{
	height:2px;
	background-color:black;
	color:black;
}
hr.blanco{
	height:3px;
	background-color:white;
	color:white;
}
span.c3{
	font-size: 150%;
	font-family: serif;
	border-bottom: red 1px dashed;
}
span.c4{
	background-color: white;
	color:red;
}
span.c5{
	font-weight: bold;
	font-size:150%;
}
span.c6{
	color:blue;
}
section h1{
	background-color:grey;
	color:white;
	width:50%;
	text-align:center;
	position:relative;
	left:25%;
	font-size:200%;
}
strong.smallcaps{
	font-variant: small-caps;
}
